@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  background-color: #131F33;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 640px){
  :root{
    margin: 1rem 13%; 
  }
}
h1{
}